{% extends "layout.html" %}

{% block title %}
    Recent Expense
{% endblock %}

{% block main %}
    <form action="/expense" method="post">
        <h5 style = "line-height: 3;"> Please enter your most recent expenditure.</h5>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto inputdeco my-input" name="expense" placeholder="Expenditure amount" type="text">
        </div>
        <div class="mb-3" style = "line-height: 2.5;">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto inputdeco my-input" name="reason" placeholder="Expenditure on..." type="text">
            EG: Tranportation, Food, etc...
        </div>

        <button class="btn btn-primary buttondeco" type="submit">Submit</button>
    </form>
{% endblock %}
